{{outlet}}

<h1>
  {{#link-to 'devices.new' class='device-new-link' title='new device'}}+{{/link-to}}
  All devices
</h1>

<ul>
  {{#each model as |device|}}
    <li>{{#link-to 'devices.settings.edit' device}}{{device.name}}{{/link-to}}</li>
  {{/each}}
</ul>
